<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<parameter name="empname" value="john"></parameter>
    <classes>
      <class name="pack1.TestNGEx1"/>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
